<!DOCTYPE html>
<html>
  <head>
    <title>disMike</title>
    <img className='title-icon' src={user.image_url} />
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
